<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Hello Spring Boot</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <style type="text/css">
        /*body {*/
        /*background-color: black;*/
        /*color: white;*/
        /*}*/

        /*tbody {*/
        /*color: white;*/
        /*}*/
    </style>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">Preivisão do Tempo</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form method="post" th:action="@{/buscar}">
                <div class="panel-heading">
                    <input type="text" name="nome" placeholder="Cidade">
                    <button type="submit" name="BuscarNomeFuture">Pesquisar</button>
                </div>
            </form>
            <form method="post" th:action="@{/buscarLocal}">
                <div class="panel-heading">
                    <input type="text" name="latitude" placeholder="latitude">
                    <input type="text" name="longitude" placeholder="longitude">
                    <button type="submit" name="buscarLocalFutute">Buscar</button>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <form method="post" th:action="@{/BuscarPorQuery}">
                <div class="panel-heading">
                    <input type="text" name="nome" placeholder="BuscarPorQuery">
                    <button type="submit" name="BuscarPorQuery">Pesquisar</button>
                </div>
            </form>
            <FORM method="post" th:action="@{/buscarPorLocaQuery}">
                <div class="panel-heading">
                    <input type="text" name="latitude" placeholder="long">
                    <input type="text" name="longitude" placeholder="lat">
                    <button type="submit" name="buscarPorLocaQuery">Buscar</button>
                </div>
            </FORM>
        </div>
        <div class="col-md-4">
           <button value="" type="submit" name="previsao"> Listar tudo</button>
        </div>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th> Nome do dia na semana</th>
        <th>temperatura mínima</th>
        <th>temperatura máxima</th>
        <th>humidade relativa do ar</th>
        <th> Decrição</th>
        <th> Data/hora</th>
        <th> Cidade</th>
        <th> Latitude</th>
        <th> Longitude</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="Previsaodotempo : ${previsao}">
        <td th:text="${Previsaodotempo.DiaSemana.DescricaoSemana}">
        <td th:text="${Previsaodotempo.temperaturaMin}">°</td>
        <td th:text="${Previsaodotempo.temperaturaMax}">°</td>
        <td th:text="${Previsaodotempo.humidadeDoAr}">°</td>
        <td th:text="${Previsaodotempo.descricao}">°a</td>
        <td th:text="${Previsaodotempo.datahr}">°a</td>
        <td th:text="${Previsaodotempo.Cidades.nome}">°a</td>
        <td th:text="${Previsaodotempo.Cidades.latitude}">°a</td>
        <td th:text="${Previsaodotempo.Cidades.longitude}">°a</td>
    </tr>
    </tbody>

</table>

</body>
</html>