<html xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Hello Spring Boot</title>
		<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"rel="stylesheet" />
		<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"rel="stylesheet" />
		<style type="text/css">
    body {
    		  background-color: black;
    		 }
    	tbody{
			color: white;    	
    	}	 
  </style>
	</head>
	<body class="">
		<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Preivisão do Tempo</h1>
		</div>
	</div>
	<table class="table">
	<thead>
				<tr>
					<th> ID</th>
					<th> Nome do dia na semana</th>
					<th>temperatura mínima</th>
					<th>temperatura máxima</th>
					<th>humidade relativa do ar </th>
					<th> Decrição </th>
				</tr>
			</thead>
		<tbody>
				<tr th:each="Previsaodotempo : ${previsao}">
				 <td th:text="${Previsaodotempo.id}"></td>
					<td th:text="${Previsaodotempo.nomeDiaSemana}">°</td>
					<td th:text="${Previsaodotempo.temperaturaMin}">°</td>
					<td th:text="${Previsaodotempo.temperaturaMax}">°</td>
					<td th:text="${Previsaodotempo.humidadeDoAr}">°</td>
					<td th:text="${Previsaodotempo.descricao}">°a</td>
				</tr>
		</tbody>
	</table>
	
	</body>
</html>